.exemplo
{
    width: 250px;
    height: 250px;
    background: linear-gradient(-75deg, #fff, #000, #fff);
    margin: auto;
    margin-top: 150px;
    transition: all 1s linear;
}
.exemplo:hover
{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background: linear-gradient(-75deg, #000, #fff, #000);
}